# Link: https://patches12306.github.io/patches12306/

## Garrett Van Beek
## Ben Nguyen
## Intro to Data Science
## Professor Nick Mattei

# Final Tutorial Milestone 1: “Can you Google the stock market?"

For our project we plan to collect data on search traffic from Google and Twitter and see how that data correlates with the performances of certain publicly traded stocks. For example, one question we would like to ask is “how does the search traffic about clean energy sources correlate with the performance of clean energy stocks?”. We would also like to see how the sentiment about certain topics correlates to their stock. For this, we plan to use a python library Twitter Sentiment Analysis or Tweepy. This tool gives us a sentiment rating that we can compare to our stock’s performance. We will most likely analyze our data as line graphs. This way we can see how stock performance, search traffic, and sentiment change over time. Consequently, we hope to find correlations and gain insight on the data.

We hope to tackle topics that are a bit more controversial or nuanced than clean energy. Some of the questions that we have thought of asking are: “How does search traffic on sex scandals within companies correlate to the stocks of the companies?” We can also observe the effects of influencers like Donald Trump or Kanye West have on the stock market. We can observe their twitter comments about certain topics and then observe how stocks relating to these topic’s perform. Another angle we can observe is how the general sentiment on topics will correlate to related stocks. For example, we can ask “How does the sentiment about Elon Musk correlate to the stock performance of TESLA?”

For our information on stock performance we plan on scraping or downloading data from Yahoo Finance, which contains a barrage of data on publicly traded stocks. Links to the datasets, tools, and websites we plan to use are provided below.

https://trends.google.com/trends/?geo=US https://www.tweepy.org/ https://github.com/shaypal5/awesome-twitter-data https://finance.yahoo.com/

tutorial project for datascience

# Final Tutorial Milestone 2

## Questions
Our overall goal is to determine "Can we google the stock market?" By this we mean "can we find correlations between google search trends/twitter activity on certain topics and the performance of stocks related to those topics?"

This is a very general questions so we will answer two specific questions based on our search history. 

### 1. How does Elon Musk's Twitter activity correlate to the stock performance of Tesla. How do search trends on Elon Musk correlate to the performance of Tesla Stock?
Note: we are currently waiting for authorization to use Twitter's Tweepy API. Until then, we will be using google trend data from Google Trends.

#### Step One: Get the Data
We download google search data as CSVs. Our goal is to create a DataFrame where every day is a row, and the columns are:
1. Search trends of Elon Musk
2. Performance of TESLA Stock
3. Performance of PAYPAL Stock

Our timeframe for these questions will be 2016-2018

In [122]:
#Import Statements
import pandas as pd
import re
import datetime
# from datetime import timedelta

In [131]:
#Read csv into dataframe
tesla_df = pd.read_csv('./data/tesla2016-2018.csv')
paypal_df = pd.read_csv('./data/paypal2016-2018.csv')
elon_df = pd.read_csv('./data/elon2016-2018.csv')

#Turn date strings into datetime objects.
dateTimeList = []
for d in elon_df['Week']:
    date = re.split('/', d)
    dateObject = datetime.datetime(
        int(date[2]),
        int(date[0]),
        int(date[1]))
    # Increase the day by one so that it lines up with the date in the other data frames.
    dateTimeList.append(dateObject + datetime.timedelta(days=1))
elon_df['Date_time'] = dateTimeList

stringArray = []
for d in elon_df['Date_time']:
    date_as_string = d.isoformat()
    stringArray.append(date_as_string[0:10])
elon_df['Date'] = stringArray

# Merge the three data frames
joined_df = pd.merge(tesla_df, paypal_df, on="Date", how="inner", suffixes=('_t','_p'))
complete_df = pd.merge(joined_df, elon_df, on="Date", how="left")

# filter the data so the only columns are date, closing price of tesla and paypal
slim_df = complete_df[["Date", "Close_t", "Close_p", "elon musk: (United States)"]]
slim_df

# TODO: Rename the columns

           Date     Close_t    Close_p  elon musk: (United States)
0    2016-01-04  223.410004  34.750000                         4.0
1    2016-01-05  223.429993  34.310001                         NaN
2    2016-01-06  219.039993  33.980000                         NaN
3    2016-01-07  215.649994  33.130001                         NaN
4    2016-01-08  211.000000  32.689999                         NaN
..          ...         ...        ...                         ...
749  2018-12-24  295.390015  77.059998                        15.0
750  2018-12-26  326.089996  82.800003                         NaN
751  2018-12-27  316.130005  84.309998                         NaN
752  2018-12-28  333.869995  83.260002                         NaN
753  2018-12-31  332.799988  84.089996                        15.0

[754 rows x 4 columns]